<!-- Footer -->
<div id="footer">
    {% if site.github.is_project_page %}
    <span class="site-footer-owner">
      <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
    </span> {% endif %}
    <span class="site-footer-credits">
      <img src="https://ycassuto.net.technion.ac.il/files/2018/06/technionlogo.jpg" alt="Technion-IIT" height="50">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Rambam-Health-Care-Campus_English_logo.jpg/1598px-Rambam-Health-Care-Campus_English_logo.jpg" alt="Rambam Hospital" height="55">  
      <img src="../assets/images/BioMedLogoEngColor.png" alt="BME Faculty of Biomedial Engineering" height="55">  
    </span>
</div>